<h1> Sign In</h1>
<form method="users/create-seesion" method="POST">
    <input type ="email" name ="email" placeholder="Email" required>
    <input type ="password" name ="password" placeholder="Password" required>
    <input type ="submit" value ="Sign In">
</form>